<section class="bg-gradient py-5">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h5 class="text-dim h__underline">Your Account</h5>
        <ul class="list-unstyled">
          <li class="py-1"><a class="text-dim" routerLink="/signup">Sign up</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/login">Log in</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Help</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h5 class="text-dim h__underline">Discover</h5>
        <ul class="list-unstyled">
          <li class="py-1"><a class="text-dim" routerLink="/">Groups</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Calendar</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Topics</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Cities</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="list-unstyled">
          <li class="py-1"><a class="text-dim" routerLink="/">About</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Careers</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">Apps</a></li>
          <li class="py-1"><a class="text-dim" routerLink="/">API</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h5 class="text-dim h__underline">Follow Us</h5>
        <div class="d-flex ">
          <a class="text-dim p-2 h4" href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="text-dim p-2 h4" href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="text-dim p-2 h4" href="#">
            <i class="fab fa-youtube" aria-hidden="true"></i>
          </a>
          <a class="text-dim p-2 h4" href="#">
            <i class="fab fa-instagram    "></i>
          </a>
        </div>
        <div class="d-flex flex-row mt-2 flex-wrap">
          <img src="https://www.meetup.com/mu_static/en-US/download_en.b85d892d.png" class="m-1" alt=""
            style="max-width: 160px;height: 48px;">
          <img src="https://www.meetup.com/mu_static/en-US/download_en.cf6dad40.png" class="m-1" alt=""
            style="max-width: 160px;height: 48px;">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-darker text-light py-3">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>