.Sidenavbar {
  flex-direction: column;
  height: 100%;
  padding: 0;
  justify-content: flex-start;
}

.Sidenavbar__link {
  display: block;
  padding: 10px 30px;
}

.Sidenavbar__linkActive {
  background: #f5f7fb;
}

.Sidenavbar__link:hover {
  background: #f5f7fb;
  text-decoration: none;
}
