@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Varela+Round&display=swap");
/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  // "primary": #ae285d,
    "primary": #ee514e,
  "primary-dark": #631735,
  "primary-light": #fff0f0,
  "secondary-grey": #e4e4e4,
  "secondary-dark": #444,
  "danger": #ff1e0e,
  "darker": #252526,
  "white": #ffffff,
  "lighter": #ffffffb3,
  "dim": #f2f2f2,
  "green": #4caf50,
  "success": #4caf50
);
$primary-gradient: linear-gradient(to right top, #ae285d, #c6325b, #dc4056, #ef514e, #ff6445);
$primary-gradient-hover: linear-gradient(to left top, #ae285d, #c6325b, #dc4056, #ef514e, #ff6445);
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;
$enable-transitions: true;
$primary-font: "Varela Round", sans-serif;
$secondary-font: "Open Sans", sans-serif;
@import "~bootstrap/scss/bootstrap.scss";

@import "./app/pages/widget/chat/scss/widget.scss";

* {
  font-family: $primary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
input:focus,
input:active,
.form-control:focus {
  outline: 0;
  box-shadow: none !important;
  border-width: 1px;
}
.h__underline {
  position: relative;
}
.h__underline:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 2px;
  border-radius: 0.25rem;
  background-image: $primary-gradient;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-image: $primary-gradient;
}
.bg-gradient-primary {
  background-image: $primary-gradient !important;
}

.btn-light {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn {
  outline: 0 !important;
  // border: 0 !important;
  box-shadow: none !important;
  border-radius: 2.25rem;
}

.Section {
  min-height: 100vh;
  align-items: center;
  display: flex;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.ngb-dp-day {
  box-shadow: none !important;
  outline: 0 !important;
}
.time {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  top: 20px;
  width: 60px;
  height: 60px;
  left: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.time h6 {
  font-size: 24px;
}

.SocialLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.SocialLink__item {
  padding: 10px;
  cursor: pointer;
}
.SocialLink__item:hover{
  text-decoration: none;
}

.text-lighter {
  color: #ffffffb3;
}

.iconHolder {
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  flex: 0.1;
}

.btn-theme {
  background-color: #007bff0d;
}

.text-lighter:hover {
  color: #fff;
  text-decoration: none;
}

.outline-0,
.outline-0:focus {
  outline: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

// HEADER STARTS
.TopBar {
  transition: all 0.5s;
  height: 94px;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 10;
  top: 0;
}
.Wrapper {
  margin-top: 94px;
}
.TopBar--fixed {
  transition: all 0.5s;
  height: 64px;
  background: map-get($theme-colors, "white");
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.TopBar__image {
  transition: all 0.5s;
  border-radius: 4px;
}
@include media-breakpoint-up(xs) {
  .TopBar__image {
    height: 40px;
  }
}
@include media-breakpoint-up(sm) {
  .TopBar__image {
    height: 64px;
  }
}
.TopBar__link {
  color: map-get($theme-colors, "white");
  cursor: pointer;
}
.TopBar--fixed .TopBar__link {
  color: map-get($theme-colors, "secondary-dark");
}
// HEADER ENDS

// HOMEPAGE
.CategoryItem {
  background: transparent;
  border-radius: 4px;
  overflow: hidden;
}
.CategoryItem:hover {
  cursor: pointer;
  background: #63173570;
}

// USER HOMEPAGE
.EventSearch__btn {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
// USER HOMEPAGE

// Service Provider Account Page
.Services {
  background-color: map-get($theme-colors, "primary");
  color: map-get($theme-colors, "white");
  padding: 1rem;
  display: flex;
  border-radius: 0.2rem;
}
.Services:hover {
  text-decoration: none;
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "white");
}
@include media-breakpoint-up(md) {
  .Sidebar {
    width: 100%;
  }
}
.ServiceProvider {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
@include media-breakpoint-down(md) {
  .ServiceProvider {
    margin-top: 60px;
  }
}

// Custom Classes
.Intro {
  background-image: url(./assets/images/bg_intro.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  margin-top: -94px;
  position: relative;
}
.Intro__title {
  font-weight: 600;
  text-transform: uppercase;
}
.IntroContent {
  z-index: 8;
}

.IntroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000052;
  z-index: 7;
}
