@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Varela+Round&display=swap");
/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  // "primary": #ae285d,
    "primary": #ee514e,
  "primary-dark": #631735,
  "primary-light": #fff0f0,
  "secondary-grey": #e4e4e4,
  "secondary-dark": #444,
  "danger": #ff1e0e,
  "darker": #252526,
  "white": #ffffff,
  "lighter": #ffffffb3,
  "dim": #f2f2f2,
  "green": #4caf50,
  "success": #4caf50
);
$primary-gradient: linear-gradient(to right top, #ae285d, #c6325b, #dc4056, #ef514e, #ff6445);
$primary-gradient-hover: linear-gradient(to left top, #ae285d, #c6325b, #dc4056, #ef514e, #ff6445);
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;
$enable-transitions: true;
$primary-font: "Varela Round", sans-serif;
$secondary-font: "Open Sans", sans-serif;
@import "~bootstrap/scss/bootstrap.scss";

@import "./app/pages/widget/chat/scss/widget.scss";

* {
  font-family: $primary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
input:focus,
input:active,
.form-control:focus {
  outline: 0;
  box-shadow: none !important;
  border-width: 1px;
}
.h__underline {
  position: relative;
}
.h__underline:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 2px;
  border-radius: 0.25rem;
  background-image: $primary-gradient;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-image: $primary-gradient;
}
.bg-gradient-primary {
  background-image: $primary-gradient !important;
}

.btn-light {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn {
  outline: 0 !important;
  // border: 0 !important;
  box-shadow: none !important;
  border-radius: 2.25rem;
}

.Section {
  min-height: 100vh;
  align-items: center;
  display: flex;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.ngb-dp-day {
  box-shadow: none !important;
  outline: 0 !important;
}
.time {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  top: 20px;
  width: 60px;
  height: 60px;
  left: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.time h6 {
  font-size: 24px;
}

.EventCard {
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.EventCard h6 {
  font-size: 20px;
}

.EventCard:focus {
  outline: 0;
}

.EventCard:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.EventCard__title {
  height: 44px;
  line-height: 20px;
  overflow: hidden;
  text-transform: capitalize;
  font-weight: 500;
}

.EventTitle {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.6rem;
}

.EventDetail {
  flex: 0.9;
}

.EventTitle--input {
  text-transform: capitalize;
}

.SocialLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.SocialLink__item {
  padding: 10px;
  cursor: pointer;
}
.SocialLink__item:hover{
  text-decoration: none;
}

.text-lighter {
  color: #ffffffb3;
}

.iconHolder {
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  flex: 0.1;
}

.btn-theme {
  background-color: #007bff0d;
}

.text-lighter:hover {
  color: #fff;
  text-decoration: none;
}

.outline-0,
.outline-0:focus {
  outline: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

// HEADER STARTS
.TopBar {
  transition: all 0.5s;
  height: 94px;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 10;
  top: 0;
}
.Wrapper {
  margin-top: 94px;
}
.TopBar--fixed {
  transition: all 0.5s;
  height: 64px;
  background: map-get($theme-colors, "white");
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.TopBar__image {
  transition: all 0.5s;
  border-radius: 4px;
}
@include media-breakpoint-up(xs) {
  .TopBar__image {
    height: 40px;
  }
}
@include media-breakpoint-up(sm) {
  .TopBar__image {
    height: 64px;
  }
}
.TopBar__link {
  color: map-get($theme-colors, "white");
  cursor: pointer;
}
.TopBar--fixed .TopBar__link {
  color: map-get($theme-colors, "secondary-dark");
}
// HEADER ENDS

// MOBILE NAVIGATION
.MobileNavigation {
  position: fixed;
  width: 0;
  transition: 0.3s;
  z-index: 2;
  height: 100vh;
  background: white;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
  right: 0;
}

// HOMEPAGE
.CategoryItem {
  background: transparent;
  border-radius: 4px;
  overflow: hidden;
}
.CategoryItem:hover {
  cursor: pointer;
  background: #63173570;
}

// USER HOMEPAGE
.EventSearch__btn {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
// USER HOMEPAGE

// Service Provider Account Page
.Services {
  background-color: map-get($theme-colors, "primary");
  color: map-get($theme-colors, "white");
  padding: 1rem;
  display: flex;
  border-radius: 0.2rem;
}
.Services:hover {
  text-decoration: none;
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "white");
}
// Service Provider Account Page

// Service Provider
.Sidebar {
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  z-index: 5;
  width: 0;
  top: 0;
  transition: 0.3s linear;
}
@include media-breakpoint-up(md) {
  .Sidebar {
    width: 100%;
  }
}
.ServiceProvider {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
@include media-breakpoint-down(md) {
  .ServiceProvider {
    margin-top: 60px;
  }
}

// Create Event
.EventTitle {
  font-family: $secondary-font;
  font-weight: 600;
}

.EventTime {
  font-family: $primary-font;
}

.EventLocation {
  font-family: $primary-font;
}

.EventFooter {
  font-family: $primary-font;
}
// Create Event

// Event
.CreatePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 1px 2px 0.5px #00000014;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.CreatePost__title {
  padding: 8px;
  background: #f5f6f7;
}
.CreatePost__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}
.CreatePost__input:after {
  position: absolute;
  width: 98%;
  content: "";
  height: 0.8px;
  background-color: #dcdcdc;
  bottom: 0;
  left: 1%;
  right: 1%;
}
.CreatePost__input_fieldHolder {
  display: flex;
  flex-grow: 1;
}
.CreatePost__input_field {
  border: 0;
}
.CreatePost__input_field:focus,
.CreatePost__input_field:active {
  box-shadow: none;
}
.CreatePost__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.CreatePost__type {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
.CreatePost__type_item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  background: #f5f6f7;
  border: 1px solid #f5f6f7;
  border-radius: 21px;
  margin-right: 10px;
}
.CreatePost__type_item-active {
  border: 1px solid #4caf50;
}
.InputEventImage {
  position: relative;
  cursor: pointer;
}
.InputEventImage:hover {
  background-color: map-get($theme-colors, "light");
}
.InputEventImage__input {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.Post {
  border: 1px solid #dcdcdc;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}
.Post__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post__userIcon {
  border-radius: 40px;
  width: 40px;
  height: 40px;
}
.Post__content {
  padding: 15px 0px 0px;
}

.Grid__item {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #e9e0e0;
}
.Grid__media {
  background-color: #f5f6f7;
  height: 170px;
  width: 100%;
  overflow: hidden;
}
.Grid__text {
  padding: 8px;
  height: 56px;
  overflow: hidden;
  word-break: break-all;
  font-size: 90%;
  background-color: map-get($theme-colors, "white");
}

// Poll
.PollPost {
  box-shadow: 0px 1px 2px 0.5px #00000014;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}
.PollPost__choices {
  list-style: none;
  padding: 10px;
  border: 0.5px solid #ececec;
  border-radius: 9.5px;
}
.Poll__inputfield {
  border-radius: 6px;
  box-shadow: none;
  border: 0.5px solid lightgray;
  padding: 2px 15px;
}
.Poll__inputfield:focus {
  box-shadow: none;
  outline: 0;
  border-color: #4caf50;
}
.PollCreate {
  padding: 15px;
}
.PollSelect {
  position: relative;
  padding: 10px;
  background-color: map-get($theme-colors, "white");
  border-radius: 9.5px;
  overflow: hidden;
}
.PollSelect__answer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px;
  left: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  box-shadow: none;
}
.PollSelect:hover {
  cursor: pointer;
  background-color: map-get($theme-colors, "light");
}
.PollSelect__answer:checked .PollSelect {
  background-color: map-get($theme-colors, "primary");
}
.PollSelect__answerLabel {
  margin-left: 40px;
  margin-bottom: 0px;
}
.PollSelect__answer:after {
  width: 16px;
  height: 16px;
  border-radius: 14px;
  top: 0px;
  left: 1px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid;
  border-color: map-get($theme-colors, "primary");
}

.PollSelect__answer:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 14px;
  top: 0px;
  left: 1px;
  position: relative;
  background-color: map-get($theme-colors, "primary");
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid map-get($theme-colors, "primary");
}
.PollSelect__answer:before {
  display: none;
}
// Custom Classes
.Intro {
  background-image: url(./assets/images/bg_intro.png);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  margin-top: -94px;
  position: relative;
}
.Intro__title {
  font-weight: 600;
  text-transform: uppercase;
}
.IntroContent {
  z-index: 8;
}
#IntroVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.IntroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000052;
  z-index: 7;
}
.Button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  background-image: $primary-gradient;
  color: map-get($theme-colors, "white");
  border: 0;
  border-radius: 2.25rem;
}
.Button:focus {
  outline: 0 !important;
}
.Button:after {
  content: "";
  background-image: $primary-gradient-hover;
  color: map-get($theme-colors, "white");
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.5s;
  z-index: 2;
}
.Button:hover:after {
  opacity: 1;
}
.Button__text {
  position: relative;
  z-index: 3;
  color: map-get($theme-colors, "white");
}

.SelectGift {
  position: absolute;
  width: 100%;
  height: 100%;
}
.SelectGift__input {
  width: 100%;
  height: 100%;
  left: 0;
}
.SelectGift__label:hover {
  cursor: pointer;
}
.SelectGift__label {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 6px;
}
.SelectGift__label:before {
  left: 0;
}
// Custom Classes

.ngb-dp-week-number,
.ngb-dp-weekday {
  color: #f66179 !important;
  font-style: normal !important;
  text-align: right !important;
}

.ngb-dp-weekdays {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 !important;
  background-color: #fff !important;
  text-align: right !important;
}

.ngb-dp-navigation-chevron {
  border-color: #fff !important;
}

ngb-datepicker-navigation-select > .custom-select {
  flex: 1 1 auto;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  height: 1.85rem;
  border: none;
  margin-right: 2px;
}

ngb-datepicker-navigation {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ff6178;
  padding: 5px;
}

.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0 !important;
  background: #dd4156;
}

.ngb-dp-day {
  cursor: pointer;
  padding: 7px;
  background: #fff;
  margin: 1px;
  font-size: 13px;
  text-align: right;
}
